@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chat ASP.NET</h1>
    <p class="lead">Apikacja wykonana w ramach warsztatów CodersLab.</p>
    <h5>Z listy użytkowników wybierz osobę z którą chcesz porozmawiać.</h5>
</div>
